.fakePoster {
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    /* height: 100%; */
    /* width: 154px; */
    background-color: gray;
}
.fakePoster h2 {
    text-align: center;
}