.searchForm {
  height: 100%; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
label {
  height: 95%;
  width: 80%;

}
.searchInput {
  height: 80%;
  width: 100%;
  font-size: 90%;
  letter-spacing: 1px;
  padding-left: 3px;
  border-style: inset;
  border-radius: 2px;
}
span {
  font-size: 110%;
  color: ghostwhite;
}
span:hover {
  color: rgb(235, 235, 235);

}