.genre {
    display: flex;
    flex-direction: column;
    height: 45%;
    overflow: auto;
    outline: 1px solid red;
}
.genre h3 {
    display: flex; 
    align-items: center;
    margin: 5px;
    padding-left: 5px;
    width: 15%;
    height: 15%;
    color: white;
}
.genreCarousel {
    display: flex; 
}