.navbar {
	display: flex;
	height: 7vh;
	background-image: linear-gradient(rgba(170, 170, 170, 0), rgba(170, 170, 170, 1));
	padding: 2px;
}
/* .navbar:hover {
	background-color: rgb(0, 0, 0);
} */
.navTitle {
	justify-content: center;
	width: 15%;
}
.navTitle .logoText { 
	text-decoration: none;
	color: yellow; 
	font-size: 120%;
	font-weight: 500;
}
.navTitle .logoText:hover {
	color: rgb(237, 237, 0); 
}
.navOptions {
	justify-content: flex-start;
	flex: 1;
	padding-left: 5px;
}
.navOptions .links {
	margin-right: 20px;
}
.navProfile {
	justify-content: space-evenly;
	flex: 1;
}
.navAlign {
	display: flex; 
	align-items: center; 
}
.links {
	text-decoration: none;
	color: white;
	font-weight: 500;
}
.links:hover {
	color: rgb(235, 235, 235);
}