.navbar {
	display: flex;
	height: 7vh;
	background-image: linear-gradient(rgba(170, 170, 170, 0), rgba(170, 170, 170, 1));
	padding: 2px;
	
}
.navbar:hover {
	background-color: rgb(0, 0, 0);
}
.navTitle {
	justify-content: center;
	width: 15%;
}
.navOptions {
	justify-content: flex-start;
	flex: 1;
	padding-left: 5px;
}
.navOptions .links {
	margin-right: 20px;
}
.navProfile {
	justify-content: space-evenly;
	flex: 1;
}
.navAlign {
	display: flex; 
	align-items: center; 
}
.links {
	text-decoration: none;
}