.heroSection {
  height: 90vh;
  width: 100vw;
  position: relative;
}
.heroSection img {
  height: 100%;
  width: 100%;
}
.imageOverlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 90%, black);
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 0;
}